RewriteEngine On

# Set the base path
RewriteBase /CMS_Sederhana/

# Redirect to public folder
RewriteCond %{REQUEST_URI} !^/CMS_Sederhana/public/
RewriteRule ^(.*)$ public/$1 [L]

# Prevent directory listing
Options -Indexes

# Prevent access to sensitive files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Prevent access to specific file types
<FilesMatch "\.(env|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Prevent access to specific directories
RedirectMatch 403 ^/CMS_Sederhana/app/?$
RedirectMatch 403 ^/CMS_Sederhana/core/?$
RedirectMatch 403 ^/CMS_Sederhana/config/?$

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Send Requests To Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L] 